.captionContainer {
	transition: opacity linear 250ms;
}

.caption {
	opacity: 0;
	transform: translateY(100%);
	transition: opacity linear 250ms, transform cubic-bezier(0.4, 0, 0.2, 1) 400ms;
	transition-delay: 0ms;
}

.figure:hover .captionContainer {
	opacity: 100%;
}

.figure:hover .caption {
	opacity: 100%;
	transform: translateY(0);
}

.figure:hover .caption.delay {
	transition-delay: 100ms;
}

.figure:hover .thumbnail {
	opacity: 0;
}

.videoOutline {
	box-shadow: 0px 0px 0px -0.5px #2c2c2c;
}

.work .caption, .work .captionContainer {
	opacity: 100%;
	transform: none;
	transition-delay: 100ms;
	position: relative;
	height: auto;
}

@media screen and (max-width: 768px) {
	.caption, .captionContainer {
		opacity: 100%;
		transform: none;
		transition-delay: 100ms;
	}
}
