.captionContainer {
	transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.caption {
	transform: translateY(100%);
	transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
	transition-delay: 0ms;
}

.figure:hover .captionContainer {
	opacity: 100%;
}

.figure:hover .caption {
	opacity: 100%;
	transform: translateY(0);
}

.figure:hover .caption.delay {
	transition-delay: 100ms;
}
